// custom dm variables
$font-family-light-dm:        "Proxima N W01 Thin Reg", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-reg-dm:        "Proxima N W01 Reg", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-med-dm:          "Proxima N W01 Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-bold-dm:         "Proxima N W01 Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// layout
$page-body-width: 1250px;

// colors
$color-upcoming: #eebc00;
$color-active: #50d376;
$color-expired: #f3666a;
$color-archived: #d9dedf;
$color-draft: #4f6571;
$color-error: #e56c5b;

// placeholder color:
$placeholder-color: '#cdcfd2';


// add brand colors here, etc...
