/*------------------------------------*
	@COMPONENTS #NOTIFICATION
\*------------------------------------*/

.notification {
    position: relative;

    &::before {
        content: '';
        width: 6px;
        height: 6px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: -4px;
        right: -6px;
    }
}
