/*------------------------------------*
	@COMPONENTS #FILTERS
\*------------------------------------*/

.filters {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    .form-group {
        width: auto;
    }
    .icon-search {
        width: 18px;
        height: 18px;
        font-size: 18px;
    }
    &.dm-filters {
        flex-wrap: wrap;
        .filter-option {
            .filter-label,
            .filter-selected span {
                position: relative;
                top: 1px;
            }
        }
    }
}

.dm-new,
.dm-profile-container {
    .profile-roles {
        width: 165px;
        top: 12px;
        .item {
            font-weight: 700;
        }
    }
    .filters {
        width: 100%;
        .profile-roles {
            min-width: 250px;
        }
        .dm-nav-btn {
            height: 38px;
            position: relative;
            top: -3px;
        }
        &.dm-filters {
            flex-wrap: wrap;
        }
    }
}

.dm-filter-search {
    i {
        position: absolute;
        left: 5px;
        top: 9px;
    }
    input[type='search'] {
        padding-left: 25px;
    }
}

.dm-filter-dark {
    color: #fff !important;
    background-color: rgb(101, 107, 111);
}
