/*------------------------------------*
	@COMPONENTS #TOAST
\*------------------------------------*/

.Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter svg {
  fill: white !important;
}

.toast-success-container {
  background-color: #50d376 !important;
  color: #fff !important;
  margin: 0 0 15px 0 !important;
  overflow: hidden !important;
  border-radius: 2px !important;
}

.toast-success-body {
  font-size: 1rem !important;
  padding: 10px !important;
}

.toast-error-container {
  background-color: #e56c5b !important;
  color: #fff !important;
  margin: 0 0 15px 0 !important;
  overflow: hidden !important;
  border-radius: 2px !important;
}

.toast-error-body {
  font-size: 1rem !important;
  padding: 10px !important;
}

.toast-warning-container {
  background-color: #eebc00 !important;
  color: #fff !important;
  margin: 0 0 15px 0 !important;
  overflow: hidden !important;
  border-radius: 2px !important;
}

.toast-warning-body {
  font-size: 1rem !important;
  padding: 10px !important;
}
