// libraries & variable overrides
@import '../_mixins';
@import '../fonts';
@import '../var-overrides';

// bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';

// custom dm vars
@import '../variables';
@import '../typography';

// other libraries
@import '../bootstrap-toggle';
@import '../../vendor/selectize-bootstrap-4-style/selectize.bootstrap4';
@import '../../../node_modules/flatpickr/dist/themes/material_blue';
@import '../../../node_modules/@simonwep/pickr/src/scss/themes/classic';
@import '../../../node_modules/jsplumb/css/jsplumbtoolkit-defaults';

@import '../../../node_modules/noty/lib/noty';
@import '../../../node_modules/noty/lib/themes/nest';
@import '../noty-custom';

@import '../fontastic';

// all library style overrides
@import '../style-overrides';

// TOOLS
@import 'tools/tools.mixins';

//SETTINGS
@import 'settings/settings.variables';

// OBJECTS
@import 'objects/objects.sidebar';

// COMPONENTS
@import 'components/components.draggable-screen';
@import 'components/components.draggable';
@import 'components/components.nav';
@import 'components/components.links';
@import 'components/components.buttons';
@import 'components/components.icons';
@import 'components/components.overlay';

.root-question-btn {
  color: #6b7381;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  background: #bdc1c8;
}
.root-question-toggle {
  color: #212529;
}
.pe-none-custom {
  pointer-events: none;
  color: #6c757d !important;
}