//------------------------------------\\
//  @SETTINGS #VARIABLES
//------------------------------------//

//COLORS
$chat-bubble-in-color: #dbdcdc;
$chat-bubble-out-color: #859aa5;
$navy: #324047;
$white: #fff;


// Backgrounds

