.recipient-list-download-view-modal-container{
  max-width: 96% !important;
  height: 96% !important;
  max-height: 96% !important;
}

.recipient-list-file-download-btn{
  color: #78787a !important;
}

.recipient-list-file-download-btn:hover, .recipient-list-file-download-btn:focus, .recipient-list-file-download-btn:active{
  color: #2b2a2a !important;
}